@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Homenaje', sans-serif;
    margin: 0;
}

header {
    background-color: #D8C200; 
    display: flex;     
    justify-content: space-between;           
    align-items: center;                                        
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg {
    width: 50%;
    padding-left: 30px;
    margin: 0;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

user {
    flex-direction: column;
}

.usersearch {
    display: block;
    width: 55%;
}

footer{
    background-color: #68BA00;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logoa{
    margin:0;
}

.banner3{
    background-image: url(images/мороженое.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px;
}