@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Homenaje', sans-serif;
}

header {
    background-color: #D8C200; 
    display: flex;     
    justify-content: space-between;           
    align-items: center;                                        
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 35%;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

a:hover{
    color:#68BA00;
    text-decoration:underline;
}

user {
    flex-direction: column;
}

.usersearch {
    display: block;
    width: 55%;
}

.banner{
    background-image: url(images/блины1.jpg);
    padding: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.popular{
    background-color: #D8C200;
    padding: 30px;
}

h2{
    text-align: center;
    animation: anime1 5s 7;
}

@keyframes anime1 {
    0%{
        color: green;
        font-size: 50px;
    }
    25%{
        color: forestgreen;
    }
    50%{
        color: darkolivegreen;
        transform: scale(2);
    }
    75%{
        color: chartreuse;
    }
    100%{
        color: #68BA00;
    }
}

.card{
 display: flex; 
 align-items: center;
 width: 100%;
 justify-content: space-between;
}

.salat{
    width: 30%;
}

.shashlik{
    width: 30%;
}

.pizza{
    width: 30%;
}

.cardimg{
    width: 100%;
    transition:transform 1.5s;
}

.salatp{
    text-align: center;
}

.sale{
    background-color: #68BA00;
    padding: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.discount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    
}

.pictureimg{
    width: 70%;
    transition:transform 3s;
}

.picture{
    width:60%;
}

footer{
    background-color: #68BA00;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.nabori{
    background-color: #D8C200;
    padding: 30px;
}

.iconimg{
    width: 25%;
    animation: iconki 2s 4;
}

@keyframes iconki {
    0% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
}
}

.footerp:hover{
    transform:scale(1.4);
    transform:rotate(270deg);
}


.footerp{
    transition:transform 2s;
}

.usersearch:hover{
    transform: scale(2);
}

nava hover{
    text-decoration: underline;
}

.themeButton{
    border: 3px #D8C200 solid;
    border-radius: 20px;
    padding: 8px;
    background-color: #68BA00;
    font-size: 16px;
}
.otzivbutton{
    border: 3px #D8C200 solid;
    border-radius: 20px;
    padding: 8px;
    background-color: #68BA00;
    font-size: 16px;
}

.darkTheme header {
    background-color: rgb(48, 48, 48);
    color: white;
}

.darkTheme a {
    color: white;
}

.darkTheme .popular {
    background-color: rgb(62, 62, 62);
    color: white;
}

.darkTheme .sale {
    background-color: rgb(62, 62, 62);
    color: white;
}

.darkTheme .nabori {
    background-color: rgb(62, 62, 62);
    color: white;
}

.darkTheme footer {
    background-color: rgb(50, 50, 50);
    color: white;
}

.darkTheme input {
    background-color: rgb(12, 12, 12);
    color: white;
    border: 3px white solid;
}
img {
    width: 100%;
    object-fit: contain;
}
.slick-slider{
    display:flex !important;
    align-items: center;
}
.carousel__item{
    display:flex !important;
    flex-direction: column;
    margin-right: 20px;
}